/*--------------------------------------------- bg colors*/

.bg-color-heading {
    background-color: rgb(124, 122, 126);
}

.bg-color-chest {
    background-color: rgb(124, 122, 126);
}


/*--------------------------------------------- home and menu page*/

.heading {
    font-family: 'Crimson Pro', serif;
    font-size: 60px;
    text-align: center;
    color:whitesmoke;
    margin: 0;
    height: 100px;
    padding-top: 20px;
}

.background-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/gymphoto1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    background-attachment: fixed;
}

.paragraph {
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    text-align: left;
    color: rgb(197, 101, 22);
    padding: 20px;
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .5em;
}

.enter-panel {
        padding: 25px;
}

.enter-button  {
    background-color: rgb(75, 199, 151);
    border: 2px solid black;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    border-radius: 4px;
}

.enter-button:hover {
    background-color: rgb(197, 101, 22);
}

.home-page-image {
    display: block;
    max-width: 80%;
    max-height: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.row {
    text-align: center;
}

.button {
    background-color: rgb(75, 199, 151);
    border: 2px solid black;
    color: black;
    padding: 15px 30px;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 15px;
    width: 200px;
    font-family: 'Crimson Pro', serif;
}

.button:hover {
    background-color: rgb(197, 101, 22);
    text-decoration: none;
    color: black;
}

.home-back {
    height: 0px;
}

.home-back > a {
    color: rgb(197, 101, 22);
    float: left;
    padding: 5px;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
}

.home-back > a > i {
    padding-right: 5px;
}

.home-back a:hover {
    color: rgb(75, 199, 151);
}

.anatomy-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 30px;
}

/*----------------------------------------------Exercise pages*/

.main-menu-back {
    height: 0px;
}

.main-menu-back > a {
    color: rgb(197, 101, 22);
    float: left;
    padding: 5px;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
}

.main-menu-back > a > i {
    padding-right: 5px;
}

.main-menu-back a:hover {
    color: rgb(75, 199, 151);
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.bodypart-header {
    text-align: center;
    color:whitesmoke;
    margin: 0;
    font-family: 'Crimson Pro', serif;
    font-size: 60px;
    height: 100px;
    padding-top: 20px;
}

.exerciseheading {
    padding-top: 75px;
    padding-bottom: 25px;
    color: rgb(75, 199, 151);
    font-family: 'Crimson Pro', serif;
}

.exercisedescription {
    padding: 25px;
    color: rgb(75, 199, 151);
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
}

.background-image-two {
    background-image: url("../images/gymphoto2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    background-attachment: fixed;
}