/*--------------------------------------------- bg colors*/

.bg-color-heading {
    background-color: rgb(124, 122, 126);
}

.bg-color-enter {
    background-color: rgb(209, 209, 212);
}

.bg-color-chest {
    background-color: rgb(124, 122, 126);
}


/*--------------------------------------------- home and menu page*/

.heading {
    text-align: center;
    color:whitesmoke;
    margin: 0;
    height: 100px;
    padding-top: 20px;
}

.background-image {
    background-image: url("../images/gymphoto1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    background-attachment: fixed;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.paragraph {
    text-align: left;
    color: rgb(197, 101, 22);
    padding: 20px;
    font-weight: bold;
}

.enter-panel {
        padding: 25px;
}

.enter-button  {
    background-color: rgb(75, 199, 151);
    border: 2px solid black;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.enter-button:hover {
    background-color: rgb(197, 101, 22);
}

.row {
    text-align: center;
}

.button {
    background-color: rgb(75, 199, 151);
    border: 2px solid black;
    color: black;
    padding: 15px 30px;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 15px;
    width: 200px;
}

.button:hover {
    background-color: rgb(197, 101, 22);
    text-decoration: none;
    color: black;
}

/*----------------------------------------------Exercise pages*/

.main-menu-back {
    height: 0px;
}

.main-menu-back > a {
    color: rgb(197, 101, 22);
    float: left;
    padding: 5px;
    font-weight: bold;
}

.main-menu-back > a > i {
    padding-right: 5px;
}

.main-menu-back a:hover {
    color: rgb(75, 199, 151);
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.bodypart-header {
    text-align: center;
    color:whitesmoke;
    margin: 0;
    height: 75px;
    padding-top: 5px;
}

.exerciseheading {
    padding-top: 75px;
    padding-bottom: 25px;
    color: rgb(75, 199, 151);
}

.exercisedescription {
    padding: 25px;
    color: rgb(75, 199, 151);
    font-weight: bold;
}

.background-image-two {
    background-image: url("../images/gymphoto2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    background-attachment: fixed;
}